// ----------------------
// VARIABLES
// ----------------------

$font-family-sans-serif:     "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-ejs:            'Montserrat', sans-serif;

$primary-text:               rgba(0, 0, 0, .87);
$secondary-text:             rgba(0, 0, 0, .54);
$thirdary-text:              rgba(0, 0, 0, .38);

$primary-text-light:         rgba(255, 255, 255, .87);
$secondary-text-light:       rgba(255, 255, 255, .70);
$thirdary-text-light:        rgba(255, 255, 255, .54);

$blue:                      #39ADD1 !default;
$blue-light:                #72D4FF;
$blue-black:                #253746;
$blue-cool:                 #10ACC2;
$green:                     #5CB860 !default;
$pink:                      #F092B0 !default;
$pink-dark:                 #C25975 !default;
$black-alt:                 #001C20;

$sm:                        576px;
$md:                        768px;
$lg:                        992px;
$xl:                        1200px;

$font-family-base:          $font-family-sans-serif;
$link-color:                $blue;
$hover-color:               $blue-light;
$main-width:                1000px;
$border-styling:            2px solid #ebebeb;
$profile-background:        $blue-cool;

// ----------------------
// DEBUG  
// ----------------------
.container {
  // @extend .border;
  // margin: 50px auto;
  // max-width: $main-width;
}
// div[class*="col"] {
//   padding: 0;
// }

// ----------------------
// BASE 
// ----------------------

body, h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-base; 
}

ul {
  padding-left: 1rem;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 300ms 0s ease;
  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

h1,h2,h3,h4,h5,h6,p,ul,li {
  color: $primary-text;
}
h1 {
  font-size: 2rem;
  color: $pink-dark;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.body-wrapper {
  flex: 1;
  max-width: $main-width;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  @media (min-width: $md) { 
    margin-top: 60px;
  }
}

footer {
  max-width: $main-width !important;
  p {
    margin-bottom: 0;
  }
}

.display-6 {
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.1;
}

.border {
  border: $border-styling;
}
.border-top {
  border-top: $border-styling;
}

.text-muted {
  color: $thirdary-text;
}
// ----------------------
// LAYOUT 
// ----------------------

.box-margin {
  margin-bottom: 1rem;
  @media (min-width: $md) { 
    // margin-bottom: 0;
    margin-right: 1rem;
  }
}
.box-margin-last {
  margin-bottom: 1rem;
  @media (min-width: $md) { 
    // margin-bottom: 0;
  }
}
.box-padding { 
  padding: 1rem;
}

.flex-row {
  display: flex; 
  flex-direction: row;
}
.flex-row-around {
  @extend .flex-row;
  justify-content: space-around;
}
.flex-row-between {
  @extend .flex-row;
  justify-content: space-between;
}

// ----------------------
// PROFILE HEADER 
// ----------------------
.profile-header {
  h1, p {  
    margin-bottom: 0;
  }
  p {
    font-weight: lighter;
  } 
}
.profile-box { 
  background-color: $profile-background;
  a {
    color: white;
    &:hover {
      color: $thirdary-text-light;
    }
  }
}
.social-item{
  font-size: 1.5rem;
}