{% set centerClass = 'd-flex flex-lg-row flex-column align-items-center justify-content-around' %}
{# {% set centerClassStretch = 'd-flex flex-lg-row flex-column align-items-center align-items-lg-stretch justify-content-around' %} #}
{% set social = site.data.profile.social %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block head_title %}{{site.title}}{% endblock %}</title>

    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="{{site.keywords}}" />
    <meta name="HandheldFriendly" content="True" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    
    <div class="body-wrapper">

      {% block header %}
      <header class="container profile-header">
        <div class="row">

          <div class="col-md-4 box-margin {{ centerClass }} box-padding profile-box">
            <img class='img' src="/img/avatar.png">
            <div class='d-flex flex-column justify-content-between align-items-stretch'>
              <h1 class='display-6 text-center'><a href="/">{% block header_title %}{{site.title}}{% endblock %}</a></h1>
              <div class="flex-row-around">
                {% if social.github %}<a target='_blank' class="social-item" href="{{ social.github }}"><i class="fa fa-github-alt" aria-hidden="true"></i></a>{% endif %}
                {% if social.instagram %}<a target='_blank' class="social-item" href="{{ social.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>{% endif %}
                {% if social.facebook %}<a target='_blank' class="social-item" href="{{ social.facebook }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>{% endif %}
                {% if social.stackoverflow %}<a target='_blank' class="social-item" href="{{ social.stackoverflow }}"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>{% endif %}
                {% if social.linkedin %}<a target='_blank' class="social-item" href="{{ social.linkedin }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>{% endif %}
              </div>
              <div class="flex-row-between mt-2">
                <a href="#"><small>/home</small></a>
                <a href="#"><small>/about</small></a>
                <a href="mailto:m91.alahmadi@gmail.com?subject=[My Site]"><small>/contact</small></a>
              </div>
            </div>
          </div>

          <div class="col hidden-xs-down border box-margin-last {{ centerClass }} box-padding">
            {{ site.data.profile.about_me }}
          </div>

        </div>
      </header>
      {% endblock%}

      {% block content %}{% endblock%}

    </div>

    <footer class="container border-top">
      <div class="row justify-content-around">
        <div class="col-sm-4 text-center box-padding">
          <p class="footer-description">
                &copy; {{site.title}}
          </p>
          <p class="footer-published">
            joyfully published by <a href="https://github.com/reptar/reptar">reptar</a>
          </p>
        </div>
      </div>
    </footer> 


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>











