{% extends 'base.html' %}

{% block main %}

<div class="border box-margin-last box-padding">
  <h1>Posts</h1>
  <ul class="list-unstyled">
    {% for file in pagination.files %}
    <li class="text-muted">
      <time><small>{{ file.date | date('YYYY-MM-DD') }}</small></time> <i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="{{ file.url }}">{{ file.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>

<div class="border box-margin-last box-padding">
  <h1>Projects</h1>
  <ul>
    {% for proj in site.data.profile.projects %}
    <li><a href="{{proj.url}}">{{ proj.name }}</a> - {{ proj.description}}</li>
    {% endfor %}
  </ul>
</div>

{% endblock %}

