{% extends 'base.html' %}

{# {% set noStretch = true %} #}
{% block sidebar %}
{% endblock %}

{% block main %}

<div class="box-bg box-margin-last box-padding-large col-md-12 mx-auto">

  <h1 class="post-title text-center">{{file.title}}</h1>

  <section class="post-meta  text-center mx-auto my-3 mb-4 ">
    <div>
      Posted on
      <time class="post-date" datetime="{{file.date | date('D MMMM YYYY')}}">
        {{file.date | date('D MMMM YYYY')}}
      </time>
    </div>
    <div>
      <span>{% for tag in file.tags %}
        <a href="/tag/{{tag}}/" class='mr-1'>#{{tag}}</a>
      {% endfor%}</span>
    </div>
    {% if file.last_updated %}
    <div>Last updated on {{ file.last_updated }}</div>
    {% endif %}
  </section>



  <article class="page">

    <section class="page-content col-lg-9 mx-auto">
      {{file.content | safe}}
      <div class="mt-3" id="disqus_thread"></div>
    </section>
  </article>
</div>


{% if file.disqus_unique %}
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */

    var disqus_config = function () {
        this.page.url = "{{ site.url }}{{ file.url }}";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ file.disqus_unique }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };

    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = 'https://https-alahmadiq8-github-io.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
{% endblock %}

