<header class="container profile-header">
  <div class="row">

    <div class="col-md-4 box-margin {{ centerClass }} box-padding profile-box">
      <img class='img' src="/img/avatar.png">
      <div class='d-flex flex-column justify-content-between align-items-stretch'>
        <h1 class='display-6 text-center'><a href="/">{% block header_title %}{{site.title}}{% endblock %}</a></h1>
        <div class="flex-row-around">
          {% if social.github %}<a target='_blank' class="social-item" href="{{ social.github }}"><i class="fa fa-github-alt" aria-hidden="true"></i></a>{% endif %}
          {% if social.instagram %}<a target='_blank' class="social-item" href="{{ social.instagram }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>{% endif %}
          {% if social.facebook %}<a target='_blank' class="social-item" href="{{ social.facebook }}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>{% endif %}
          {% if social.stackoverflow %}<a target='_blank' class="social-item" href="{{ social.stackoverflow }}"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>{% endif %}
          {% if social.linkedin %}<a target='_blank' class="social-item" href="{{ social.linkedin }}"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>{% endif %}
        </div>
        <div class="flex-row-between mt-2">
          <a href="/"><small>/home</small></a>
          <a href="/about"><small>/about</small></a>
          <a href="mailto:m91.alahmadi@gmail.com?subject=[My Site]"><small>/contact</small></a>
        </div>
      </div>
    </div>

    <div class="col hidden-xs-down box-bg box-margin-last {{ centerClass }} box-padding">
      {{ site.data.profile.about_me }}
    </div>

  </div>
</header>