<div class="col-md-3 p-0 flex-last flex-md-first d-flex flex-column align-content-stretch" >
<!--   <div class='{% if not noStretch %}flex-grow{% endif %} border box-margin box-padding'>
    <h4><strong>Links</strong></h4>
    <ul>
      <li>suk my dicl</li>
      <li>suk my dicl</li>
    </ul>
  </div> -->
  <div class='{% if not noStretch %}flex-grow{% endif %} border box-margin box-padding'>
    <h4><strong>Location</strong></h4>
    <ul>
      <li>Los Angeles</li>
      <li>Kuwait</li>
      <li>Cleveland</li>
    </ul>
  </div>
</div>